body
  background: #FFF
  line-height: 1.4
  font-size: $fz
  // +light
  font-family: 'Comfortaa', cursive
  font-weight: 300
  color: $c-text
  +no-scroll
  +sm
    font-size: $fz-sm

input, textarea
  font-family: inherit
  +placeholder
    font-family: inherit

.bg-contain
  background-size: contain

.pt-xl
  padding-top: $padding-xl
  +lg
    padding-top: $padding-lg
  +md
    padding-top: $padding-md
  +sm
    padding-top: $padding-sm
.pt-lg
  padding-top: $padding-lg
  +md
    padding-top: $padding-md
  +sm
    padding-top: $padding-sm
.pt-md
  padding-top: $padding-md
  +sm
    padding-top: $padding-sm
.pt-sm
  padding-top: $padding-sm

.pb-xl
  padding-bottom: $padding-xl
  +lg
    padding-bottom: $padding-lg
  +md
    padding-bottom: $padding-md
  +sm
    padding-bottom: $padding-sm
.pb-lg
  padding-bottom: $padding-lg
  +md
    padding-bottom: $padding-md
  +sm
    padding-bottom: $padding-sm
.pb-md
  padding-bottom: $padding-md
  +sm
    padding-bottom: $padding-sm
.pb-sm
  padding-bottom: $padding-sm

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.out
  overflow: hidden
  padding-top: $header-height * 2
  +lg
    padding-top: $header-height-lg * 2
  +md
    padding-top: $header-height-md * 2

.container
  max-width: 1440px
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto

.logo
  display: block
  font-size: 0
  img
      max-height: 100%
  +lg
    height: $header-height-lg - 20px
  +md
    height: $header-height-md - 20px


.phones
  +xl
    // +flex()

.phone
  display: block
  color: $purple
  +bold
  +hover
    text-decoration: underline
  +xl
    display: inline-block
    +notlast
      margin-right: 10px
  &__icon
    display: inline-block
    width: 15px
    .icon
      font-size: $fz-ssm

.tm
  +clar
  font-weight: 400
  sup
    font-size: .5em
    vertical-align: super
  &--text
    color: $c-text
  &--inherit
    font-family: inherit
    font-weight: inherit

.cloud
  +pfr
  color: $accent
  font-size: 25px
  width: 300px
  height: 265px
  +cover
  background-size: contain
  +flex(center, center)
  mix-blend-mode: normal
  &__title
    text-align: center
    // padding-left: 30px
    margin-top: -30px
    strong
      font-weight: 400
      font-size: 33px
      display: block
  &--black
    color: $black

.blockquote
  position: relative
  &__icon
    position: absolute
    top: 0
    right: calc(100% + 15px)
    .icon
      fill: $accent
      font-size: 35px



