body
  background: #FFF
  line-height: 1.4
  font-size: $fz
  // +light
  font-family: 'Comfortaa', cursive
  font-weight: 300
  color: $c-text
  +no-scroll

input, textarea
  font-family: inherit
  +placeholder
    font-family: inherit

.bg-contain
  background-size: contain

.pt-xl
  padding-top: $padding-xl
.pt-lg
  padding-top: $padding-lg
.pt-sm
  padding-top: $padding-sm
.pt-md
  padding-top: $padding-md

.pb-xl
  padding-bottom: $padding-xl
.pb-lg
  padding-bottom: $padding-lg
.pb-sm
  padding-bottom: $padding-sm
.pb-md
  padding-bottom: $padding-md

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.container
  max-width: 1440px
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto

.phones

.phone
  display: block
  color: $purple
  +bold
  +hover
    text-decoration: underline
  &__icon
    display: inline-block
    width: 15px
    .icon
      font-size: $fz-ssm

.tm
  +clar
  font-weight: 400
  sup
    font-size: .5em
    vertical-align: super
  &--text
    color: $c-text

.cloud
  +pfr
  color: $accent
  font-size: 25px
  width: 300px
  height: 265px
  +cover
  background-size: contain
  +flex(center, center)
  mix-blend-mode: normal
  &__title
    text-align: center
    // padding-left: 30px
    margin-top: -30px
    
