strong
  // font-weight: 400
  // +bold

small
  font-size: inherit

em, i
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1
  // font-size: 36px
  +css-lock(21, 36, 320, 1199, font-size)
  font-weight: 700
  strong
    +clar
    font-weight: 400
    sup
      vertical-align: super
      font-size: .5em

  &--purple
    color: $purple
  &--accent
    color: $accent
  &--ttu
    text-transform: uppercase

.h2, h2
  font-size: 32px
  font-weight: 700
  line-height: 1.2
  +css-lock(21, 32, 320, 1199, font-size)

  &--accent
    color: $accent

.h3, h3
  font-size: $fz-lg
  font-weight: 700
  line-height: 1.2

.h4, h4

.h5, h5

.h6, h6

.title
  font-weight: 700
  text-transform: uppercase
  small
    font-size: $fz-sm
    font-weight: 300
    +sm
      font-size: $fz-xs
    +xs
      font-size: 11px
  &--lg
    // font-size: 60px
    +css-lock(24, 60, 320, 1199, font-size)
  &--md
    +css-lock(21, 45, 320, 1199, font-size)

.title-under
  position: relative
  padding-bottom: 20px
  +before
    position: absolute    
    left: 50%
    bottom: 0
    transform: translate(-50%, 0)
    height: 7px
    width: 30px
    background-color: $accent
    border-radius: 7px
  +xs
    padding-bottom: 15px
  &--green
    +before
      background-color: $green-dark
  &--green-lighten
    +before
      background-color: $green-lighten
  &--left
    +before
      left: 0
      transform: translate(0, 0)
  &--yellow
    +before
      background-color: $yellow
  &--purple-accent
    +before
      background-color: $purple-accent
  &--inherit
    +before
      background-color: currentColor

.title-bg
  color: $white  
  display: inline-block
  position: relative
  +sm
    color: inherit
  span
    position: relative
    z-index: 1
  img
    +vcenter
    width: 105%
    max-width: 105%
    z-index: 0
    pointer-events: none
    +sm
      display: none

.text
  &--sm
    font-size: $fz-sm
