---
title: home
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-info-sm.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-video.html" %}
  {% include "partials/sections/_s-play.html" %}
  {% include "partials/sections/_s-slider.html" %}
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-three-img.html" %}
  {% include "partials/sections/_s-two-colored.html" %}
  {% include "partials/sections/_s-app.html" %}
  {% include "partials/sections/_s-how.html" %}
  {% include "partials/sections/_s-order-sm.html" %}
  {% include "partials/sections/_s-testimonials.html" %}
  {% include "partials/sections/_s-item-links.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}


