$fz:    15px
$fz-sm: 14px
$fz-xs: 12px
$fz-md: 17px
$fz-lg: 24px

$c-text: #4f4f4f
$accent: #fd5c37

$white: #fff

$yellow: #ffcc53

$purple: #341c77

$gray: #808080
$gray-dark: #1a1a1a
$gray-light: #b5b5b5
$gray-lighten: #f5f7fa

$blue: #8cc4ff

$brown-light: #fff6e9

$header-height: 100px

$padding-lg: 100px
$padding-md: 50px
