{%set
featuresList = [
  { text: 'Уникальная игрушка-головоломка JakТаk ручной работы 
станет самым популярным товаром в вашем магазине;' },
  { text: '«JakТаk» идеально подойдет для продажи в интернете' },
  { text: 'Универсальный товар JakТаk, способен покорить 
клентов всех возрастов и рода деятельности;' },
  { text: 'Загадочная и  оригинальная вещицыа «JakТаk» точно 
повысит популярность вашего бизнеса ' },
  { text: 'Полезный инструмент развития креативной личности 
теперь на полках вашего магазина;' },
  { text: 'Качественный и долговечный подарок обязательно 
заставит вернуться ваших клиентов снова.
' }
]
%}

<!-- begin features-list -->
<div class="features-list">
  {% for i in featuresList %}
  <!-- begin feature-item -->
  <div class="feature-item__wrap">
    <div class="feature-item">
      <div class="feature-item__icon">
        {{ mixins.icon('minus') }}
      </div>

      <div class="feature-item__text">{{ i.text }}</div>
    </div>
  </div>  
  <!-- end feature-item -->
  {% endfor %}
</div>
<!-- end features-list -->