<!-- begin links -->
<div class="item-links">
  {% for i in links %}
  <!-- begin item-link -->
  <a href="#" class="item-link">
    {# <span class="item-link__img js-lazy" data-background-image="img/item-links/{{ i.img }}"> #}
    <span class="item-link__img item-link-img">
      <img data-src="img/item-links/{{ i.img }}" alt="" class="js-lazy">
      <span class="item-link__title">{{ i.title }}</span>
    </span>

    {% if i.btn %}
    <span class="item-link__btn">
      {{ mixins.btn(
        title = 'Заказать',
        mod = 'btn--full',
        href = false,
        isInline = true
      ) }}
    </span>
    {% endif %}
  </a>
  <!-- end item-link -->
  {% endfor %}
</div>
<!-- end links -->