{{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: '<i class="ic ic-star"></i><span>Продукция</span>' },
    { link: '<i class="ic ic-star"></i><span>Преимущества</span>' },
    { link: '<i class="ic ic-star"></i><span>Галерея</span>' },
    { link: '<i class="ic ic-star"></i><span>Оплата и доставка</span>' },
    { link: '<i class="ic ic-star"></i><span>Акции</span>' },
    { link: '<i class="ic ic-star"></i><span>Контакты</span>' }
  ]
) }}