<!-- begin section -->
<section class="section s-app pt-sm pb-md">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="s-app__title title-under title-under--left">
          <h2 class="h2">Дополненная реальность для {{ mixins.title() }} от Live Portrait!</h2>
        </div>

        <div class="s-app__text">В игрушку {{ mixins.title() }} мы внедрили такое чудо, как  Дополненная реальность от Live Portrait! Это легкое мобильное 
          приложение для любого смарт-устройства. Наведя на изображение, 
        Вы перенесетесь в место вашей мечты……</div>
      </div>
      

      <div class="col-6">
        <div class="section-tv s-app__tv js-lazy" data-background-image="img/tv/2.png">
          {# <img data-src="img/tv/1.jpg" alt="" class="js-lazy"> #}
        </div>

        <div class="s-app__btns">
          <a class="s-app__btn" href="#">
            <img data-src="img/app-store-button.svg" alt="" class="js-lazy" width="132" height="39">
          </a>
          <a class="s-app__btn" href="#">
            <img data-src="img/google-play-badge.png" alt="" class="js-lazy" width="132" height="39">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->