<!-- begin section -->
<section class="section section--center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="section--center__img"></div>
      </div>

      <div class="col-sm-6">
        <div class="section--center__block">
          <div class="section--center__block-title title-under title-under--left">
            <h2 class="h2">Станьте партнером «JakTak» прямо сейчас!</h2>
          </div>

          <div class="section--center__subttl text--sm">
            Заполните простую форму и станьте нашим партнеромв считанные секунды!
          </div>

          <div class="section--center__btn">
            {{ mixins.btn(
              title = 'Стать партнером',
              mod = 'btn--lg'
            ) }}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->