<!-- begin section -->
<section class="section s-sertificate mt-sm pb-md">
  <div class="container">
    <div class="section__title title-under">
      <h2 class="h2">Мы - официальный производитель!</h2>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="section__subttl text--sm">Компания «JacTak» основана в 1999 году и является официальным брендом в Украине</div>
      </div>

      <div class="col-lg-10 offset-lg-1">
        <img data-src="img/partners/certificate.png" alt="" class="js-lazy">
      </div>
    </div>
  </div>
  

  <div class="section__parallax js-parallax-scene">
    <div class="section__parallax-scene" data-depth="0.1">
      <i class="section-icon ic ic-comet"></i>
      <i class="section-icon section-icon--bottom-left ic ic-star4"></i>
      <i class="section-icon section-icon--top-right ic ic-star4"></i>
    </div>    
  </div> 
</section>
<!-- end section -->