<!-- begin section -->
<section class="section pt-lg pb-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="section__title title-under title-under--purple">
          <h2 class="h2">Почему сотрудничать с нами выгодно?</h2>
        </div>

        <div class="section__subttl text--sm">Компания «JacTak» ценит своих партнеров, честное и взаимовыгодное сотрудничество для нас превыше всего</div>

      </div>
    </div>

    {% include "partials/_features-list.html" %}
  </div>
</section>
<!-- end section -->