<!-- begin section -->
<section class="section s-play pt-lg pb-xl js-lazy" data-background-image="img/home/bg-play.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section__title title-under">
          <h2 class="h2">Играй. Развивайся. Удивляй</h2>
        </div>

        <div class="section__subttl">Головоломка {{ mixins.title() }} – это экологичная и натуральная игрушка, а также отличный повод восхититься 
        безграничными возможностями деревянной игрушки. </div>
      </div>
    </div>

    <div class="section-tv section-tv--left js-lazy" data-background-image="img/tv/1.png">
      {# <img data-src="img/tv/1.jpg" alt="" class="js-lazy"> #}
      <iframe class="js-lazy" width="532" height="270"  data-src="https://www.youtube.com/embed/mQsrUjULR5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="cloud js-lazy" data-background-image="img/cloud.jpg"><div class="cloud__title">Хочу такую же<br> на День Рождения!</div></div>
  </div>

  <i class="section-icon ic ic-comet"></i>
  <i class="section-icon ic ic-star4"></i>

  <img src="img/wave-play.svg" alt="" class="wave">
</section>
<!-- end section -->