<!-- begin section -->
<section class="section s-thank-you section--white js-lazy" data-background-image="img/thank-you/box.jpg">
  <div class="container">
    <div class="s-thank-you__block">
      <div class="s-thank-you__title">
        <h1 class="h1 h1--lg">Спасибо за заявку!</h1>
      </div>

      <div class="s-thank-you__subttl text--sm">Ваш заказ уже летит к вам!</div>

      <div class="s-thank-you__social">
        <!-- begin social-block -->
        <div class="social-block">
          <div class="social-block__title">
            Следите за нашими новостями
          </div>

          <div class="social-block__inner">
            {{ mixins.list(
              name = 'social',
              modifications = { wrap: 'social--lg', item: '', link: '' },
              list = [
                { link: mixins.icon('instagram') },
                { link: mixins.icon('youtube') },
                { link: mixins.icon('facebook') }
              ]
            ) }}
          </div>          
      </div>
      <!-- end social-block -->
    </div>

      <div class="s-thank-you__btns">
        <a href="#" class="link">Перейти на главную</a>
        или
        {{ mixins.btn(
          title = 'Продолжить покупки',
          mod = 'btn--transp-white'
        ) }}
      </div>
    </div>
  </div>

  <div class="s-thank-you__img">
    <img data-src="img/thank-you/photo.png" alt="" class="js-lazy">
  </div>

  <div class="section__parallax js-parallax-scene">
    <div class="section__parallax-scene" data-depth="0.1">
      <i class="section-icon ic ic-comet"></i>
      <i class="section-icon ic ic-star4"></i>
    </div>    
  </div>  
</section>
<!-- end section -->