<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section__title title-under">
          <h2 class="h2">Не упустите возможность стать обладателем игрушки-сувенира {{ mixins.title() }}!</h2>
        </div>
        <div class="section__subttl">Игрушка-головоломка «JakTak» - прекрасный подарок на День Рождения, интересная и развивающая 
        головоломка, стильный и современный аксессуар</div>
      </div>
    </div>
  </div>

  <div class="section__video">
    <iframe class="js-lazy"  data-src="https://www.youtube.com/embed/mQsrUjULR5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>
<!-- end section -->