.btn
  display: inline-block
  text-align: center
  background-color: $accent
  border: 2px solid  $accent
  border-radius: 35px
  padding: 17px 65px
  font-size: $fz-sm
  +bold
  color: $white
  +tr(color .3s, background-color .3s, border-color .3s)
  +hover
    background-color: transparent
    color: $accent
  +lg
    padding: 10px 50px
  +sm
    font-size: $fz-ssm
    padding-left: 25px
    padding-right: 25px

  &--transp-purple
    background-color: transparent
    color: $purple
    border-color: $purple
    +hover
      background-color: $purple
      border-color: $purple
      color: $white
  &--full
    padding-left: 5px
    padding-right: 5px
    width: 100%
    +lg
      padding-left: 5px
      padding-right: 5px
  &--sm
    padding-left: 38px
    padding-right: 38px
    +lg
      padding-left: 30px
      padding-right: 30px
  &--lg
    min-width: 295px
    padding-left: 10px
    padding-right: 10px
    +sm
      min-width: 0

.btn-link
  +reg
  color: $purple
  +inline-flex(flex-start, center)
  +hover
    text-decoration: underline
  .icon
    fill: $accent
    margin-right: 10px
