.form
  box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.19)
  border-radius: $radius
  background-color: $white
  padding: 50px 35px 30px
  &__field
    margin-bottom: 25px
  &__title
    color: $c-text
    text-align: center
    margin-bottom: 30px