.list
  li
    position: relative
    +notlast
      margin-bottom: 10px
    +before
      width: 10px
      height: 5px
      border-radius: 5px
      background-color: $accent
      display: inline-block
      margin-right: 10px
      vertical-align: middle